body
{
	background: #f0f0f0f0;
	font-family: 'Poiret One', cursive;
}

h1
{
	color:orange;
}

th
{
	font-family: 'Poiret One', bold 12px; 
	text-align: center;
}

h2, h3, h4, h5, h6
{
	color: #444;
	/*font-family: 'Lombster', cursive;*/
}

a 
{
	font-family: 'Poiret One';
}

footer
{
	background: #222;
	padding: 20px;
}

input 
{
    display: none;
}

.page
{
	background: #fff;
	border-radius: 1em;
	margin: 1em;
	min-height: 500px;
	padding: 1em;
}

.product-list
{
	border: 5px solid orange;
	border-radius: 50%;
	height: 75px;
	width: 75px;
}

.main-title
{
	font-family: 'Poiret One', bold 12px; 
}

.icon-home
{
	color: #666;
	font-size: 60px;
	margin: 20px;
}

.btn-home-admin
{
	font-size: 25px;
}
